body{
    text-align: center;
}

p{
    margin: 0
}

.clearfix{
    content: '';
    clear: both;
    display: table;
}

.currency-block{
    padding-bottom: 30px;
    width: 40%;
    float:left;
    border: 1px solid #cccccc;
}

.currency-block:last-child{
    float: right;
}

.info{
    color: brown;
    font-size: 18px;
    margin-bottom: 20px;
}

form{
    width: 1000px;
    margin: 0 auto;
}

form p{
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.currency,.sum{
    margin-top: 15px;
}

.currency{
    padding: 10px 5px;
    border: 2px solid red;
    border-radius: 10px;
}

.sum{
    width: 100px;
    padding: 10px 0;
    border: 2px solid green;
    text-align: center;
    border-radius: 10px;
}